body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin: 0;
 
}

    section#encabezado{
        height: auto;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        min-height: auto;
        
    }
    section#encabezado header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #2c3e52;
        height: 100px;

    }
    section#encabezado header button{
        background-color: transparent;
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 20%;
        margin-top: 25px;
    
    }
    section#encabezado header a{
        margin-top: 10px;
        margin-left: 3%;
        padding: 0;
    }
    
    section#encabezado header a img{
    
        margin:0px;
        width: 100%;
        margin-top: 0;
    }
    
    section#encabezado nav#menu{
        background-color: #005b97;
        width: 15%;
        height: 100vh;

       display: flex;
    }
    section#encabezado nav#menu ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    section#encabezado nav#menu ul li{
        list-style: none;
        text-decoration: none;
        padding: 1rem;
        background-color: #333332;
        border-bottom: 1px solid white;
        
    }
    section#encabezado nav#menu ul li a{
        text-decoration: none;
        color: white;
        font-size: 16px;
    
        text-transform: uppercase;
    
    }
    section#bienvenido{
        background-color:#fffff2;
        height: 100vh;
        margin-top: 100px;
        margin-left: 15%;

        padding: 2rem;
    }
